<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="jdbc.properties"></properties>
	
	<settings>
		<!--将表中字段的下划线自动转换为驼峰-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 开启延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
	</settings>
	
	<plugins>
		<!--设置分页插件-->
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>
	
	<!-- 设置POJO/bean别名，方便书写，提升开发效率 -->
	<typeAliases>
		<!-- 方式2：直接扫描整个包，为每一个类附以默认别名 -->
		<package name="pojo"/>
	</typeAliases>
	
	<!--设置连接数据库的环境-->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!--引入映射文件-->
	<mappers>
		<!-- 方式1：直接引入某一个mapper文件 -->
		<!-- <mapper resource="mappers/UserMapper.xml"/> -->
		
		<!-- 方式2：直接引入整个包，要求映射包名和mapper包名一致 -->
		<package name="mappers"/>
	</mappers>
</configuration>