<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table id="employee_table" style="text-align: center">
        <tr>
            <td colspan="6">公司员工信息</td>
        </tr>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>电子邮箱</th>
            <th>性别</th>
            <th>更新</th>
            <th>删除</th>
        </tr>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.gender}"></td>
            <td><a th:href="@{/employee/} + ${employee.id}">更新</a></td>
            <td><a @click="deleteEmployee" th:href="@{'/employee/' + ${employee.id}}">删除</a></td>
        </tr>
        <tr>
            <td colspan="6">
                <a th:href="@{/toAdd}">添加</a>
            </td>
        </tr>
    </table>

    <form id="deleteForm" method="post">
        <input type="hidden" name="_method" value="delete">
    </form>

    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript">
        var vue = new Vue({
            el:"#employee_table",
            methods:{
                deleteEmployee:function (event) {
                    //取消超链接的默认行为
                    event.preventDefault();
                    //根据id获取表单元素
                    var deleteForm = document.getElementById("deleteForm");
                    //将触发点击事件的超链接的href属性赋值给表单的action
                    deleteForm.action = event.target.href;
                    //提交表单
                    deleteForm.submit();
                }
            }
        });
    </script>
</body>
</html>